adf/pipeline/azureml_adf_call_endpoint.json
{
	"name": "azureml_adf_call_endpoint",
	"properties": {
		"activities": [
			{
				"name": "Set job id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Call managed endpoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "job_id",
					"value": {
						"value": "@activity('Call managed endpoint').output.name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call managed endpoint",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get scoring endpoint URI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Get scoring endpoint URI').output.properties.scoringUri",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "Bearer @{pipeline().parameters.scoring_token}",
							"type": "Expression"
						},
						"azureml-model-deployment": {
							"value": "@pipeline().parameters.deployment_name",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n    properties: {\n        \"InputData\":\n        {\n            \"mnistInput\": {\n                \"JobInputType\": \"UriFile\",\n                \"Uri\": \"@{pipeline().parameters.input_dataset_uri}\"\n            }\n        },\n        \"OutputData\":\n        {\n            \"score\": {\n                \"JobOutputType\": \"UriFile\",\n                \"Uri\": \"@{pipeline().parameters.output_dataset_uri}\"\n            }\n        }\n    }\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check job status until complete",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set job id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(\n    createArray('Completed', 'Failed', 'Canceled'), \n    variables('job_status')\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						},
						{
							"name": "Check job status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/@{pipeline().parameters.azureml_resource_id}/jobs/@{variables('job_id')}?api-version=2022-05-01",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "Bearer @{pipeline().parameters.access_token}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set job status",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check job status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "job_status",
								"value": {
									"value": "@activity('Check job status').output.properties.status",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.01:00:00"
				}
			},
			{
				"name": "Get scoring endpoint URI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com/@{pipeline().parameters.azureml_resource_id}/batchEndpoints/@{pipeline().parameters.batch_endpoint_name}?api-version=2022-05-01",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "Bearer @{pipeline().parameters.access_token}",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					}
				}
			},
			{
				"name": "If condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check job status until complete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(\n    createArray('Completed'), \n    variables('job_status')\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Job was not completed successfully",
								"errorCode": "400"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"deployment_name": {
				"type": "string",
				"defaultValue": "main"
			},
			"access_token": {
				"type": "string"
			},
			"scoring_token": {
				"type": "string"
			},
			"input_dataset_uri": {
				"type": "string",
				"defaultValue": "azureml://datastores/workspaceblobstore/paths/data/employee-attrition/inference/batch/data.csv"
			},
			"output_dataset_uri": {
				"type": "string",
				"defaultValue": "azureml://datastores/workspaceblobstore/paths/outputs/predictions.csv"
			},
			"azureml_resource_id": {
				"type": "string",
				"defaultValue": "subscriptions/a326b683-d9a8-4ca6-adff-89d2a3eb1b0c/resourceGroups/azureml-workspace-poc-001-rg/providers/Microsoft.MachineLearningServices/workspaces/mlwxwucor001"
			},
			"batch_endpoint_name": {
				"type": "string",
				"defaultValue": "https://employee-attrition-be-xwucor001"
			}
		},
		"variables": {
			"job_id": {
				"type": "String",
				"defaultValue": "ff965b7c-f9ec-4794-9d17-45f1c0297eaf"
			},
			"job_status": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Batch scoring with Azure ML and ADF/Custom"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-02T06:15:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}