adfixwucor001/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfixwucor001"
		},
		"default_properties_tenant_id_value": {
			"type": "string",
			"defaultValue": "16b3c013-d300-468d-ac64-7eda0820b6d3"
		},
		"default_properties_subscription_id_value": {
			"type": "string",
			"defaultValue": "a326b683-d9a8-4ca6-adff-89d2a3eb1b0c"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://@{linkedService().key_vault_name}.vault.azure.net/"
		},
		"AzureMLService001_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "a326b683-d9a8-4ca6-adff-89d2a3eb1b0c"
		},
		"AzureMLService001_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "azureml-workspace-poc-001-rg"
		},
		"AzureMLService001_properties_typeProperties_mlWorkspaceName": {
			"type": "string",
			"defaultValue": "mlwxwucor001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/globalparameters",
			"apiVersion": "2018-06-01",
			"properties": {
				"tenant_id": {
					"type": "string",
					"value": "[parameters('default_properties_tenant_id_value')]"
				},
				"subscription_id": {
					"type": "string",
					"value": "[parameters('default_properties_subscription_id_value')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Call-AzureML-Batch-Managed-Endpoint')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set job id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Call managed endpoint",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "job_id",
							"value": {
								"value": "@activity('Call managed endpoint').output.name",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Call managed endpoint",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get scoring endpoint URI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@activity('Get scoring endpoint URI').output.properties.scoringUri",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "Bearer @{pipeline().parameters.scoring_token}",
									"type": "Expression"
								},
								"azureml-model-deployment": {
									"value": "@pipeline().parameters.deployment_name",
									"type": "Expression"
								}
							},
							"body": {
								"value": "{\n    properties: {\n        \"InputData\":\n        {\n            \"mnistInput\": {\n                \"JobInputType\": \"UriFile\",\n                \"Uri\": \"@{pipeline().parameters.input_dataset_uri}\"\n            }\n        },\n        \"OutputData\":\n        {\n            \"score\": {\n                \"JobOutputType\": \"UriFile\",\n                \"Uri\": \"@{pipeline().parameters.output_dataset_uri}\"\n            }\n        }\n    }\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Check job status until complete",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set job id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(\n    createArray('Completed', 'Failed', 'Canceled'), \n    variables('job_status')\n)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 60
									}
								},
								{
									"name": "Check job status",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "https://management.azure.com/@{pipeline().parameters.azureml_resource_id}/jobs/@{variables('job_id')}?api-version=2022-05-01",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Authorization": {
												"value": "Bearer @{pipeline().parameters.access_token}",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set job status",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Check job status",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "job_status",
										"value": {
											"value": "@activity('Check job status').output.properties.status",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.01:00:00"
						}
					},
					{
						"name": "Get scoring endpoint URI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://management.azure.com/@{pipeline().parameters.azureml_resource_id}/batchEndpoints/@{pipeline().parameters.batch_endpoint_name}?api-version=2022-05-01",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {
								"Authorization": {
									"value": "Bearer @{pipeline().parameters.access_token}",
									"type": "Expression"
								},
								"Content-Type": "application/json"
							}
						}
					},
					{
						"name": "If condition",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Check job status until complete",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(\n    createArray('Completed'), \n    variables('job_status')\n)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Job was not completed successfully",
										"errorCode": "400"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"deployment_name": {
						"type": "string",
						"defaultValue": "main"
					},
					"access_token": {
						"type": "string"
					},
					"scoring_token": {
						"type": "string"
					},
					"input_dataset_uri": {
						"type": "string",
						"defaultValue": "azureml://datastores/workspaceblobstore/paths/data/employee-attrition/inference/batch/data.csv"
					},
					"output_dataset_uri": {
						"type": "string",
						"defaultValue": "azureml://datastores/workspaceblobstore/paths/outputs/predictions.csv"
					},
					"azureml_resource_id": {
						"type": "string",
						"defaultValue": "subscriptions/a326b683-d9a8-4ca6-adff-89d2a3eb1b0c/resourceGroups/azureml-workspace-poc-001-rg/providers/Microsoft.MachineLearningServices/workspaces/mlwxwucor001"
					},
					"batch_endpoint_name": {
						"type": "string",
						"defaultValue": "https://employee-attrition-be-xwucor001"
					}
				},
				"variables": {
					"job_id": {
						"type": "String",
						"defaultValue": "ff965b7c-f9ec-4794-9d17-45f1c0297eaf"
					},
					"job_status": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Batch scoring with Azure ML and ADF/Custom"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-02T06:15:26Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"key_vault_name": {
						"type": "string",
						"defaultValue": "kvxwucor001"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMLService001')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMLService",
				"typeProperties": {
					"subscriptionId": "[parameters('AzureMLService001_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureMLService001_properties_typeProperties_resourceGroupName')]",
					"mlWorkspaceName": "[parameters('AzureMLService001_properties_typeProperties_mlWorkspaceName')]",
					"authentication": "MSI"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureML Pipeline Execute')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Machine learning execute pipeline",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"experimentName": "adf-experiment",
							"mlPipelineId": {
								"value": "@pipeline().parameters.azureml_pipeline_id",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureMLService001",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"azureml_pipeline_id": {
						"type": "string",
						"defaultValue": "049e8bd7-c948-4402-a646-f1f9fd4787e8"
					}
				},
				"folder": {
					"name": "Batch scoring with Azure ML and ADF/Native"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-03T03:56:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureMLService001')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureML-ADF-Batch-Scoring')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get access token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get client id",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get client secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://login.microsoftonline.com/@{pipeline().globalParameters.tenant_id}/oauth2/v2.0/token",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "grant_type=client_credentials&scope=https://management.azure.com/.default&client_id=@{activity('Get client id').output.value}&client_secret=@{activity('Get client secret').output.value}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get client id",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://@{pipeline().parameters.key_vault_name}.vault.azure.net/secrets/client-id?api-version=7.0",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Get client secret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://@{pipeline().parameters.key_vault_name}.vault.azure.net/secrets/client-secret?api-version=7.0",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Get scoring token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get client id",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get client secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://login.microsoftonline.com/@{pipeline().globalParameters.tenant_id}/oauth2/v2.0/token",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "grant_type=client_credentials&scope=https://ml.azure.com/.default&client_id=@{activity('Get client id').output.value}&client_secret=@{activity('Get client secret').output.value}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Trigger managed endpoint",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get access token",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get scoring token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Call-AzureML-Batch-Managed-Endpoint",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"deployment_name": {
									"value": "@pipeline().parameters.deployment_name",
									"type": "Expression"
								},
								"access_token": {
									"value": "@activity('Get access token').output.access_token",
									"type": "Expression"
								},
								"scoring_token": {
									"value": "@activity('Get scoring token').output.access_token",
									"type": "Expression"
								},
								"input_dataset_uri": {
									"value": "@{pipeline().parameters.input_datastore}/@{pipeline().parameters.input_file_path}",
									"type": "Expression"
								},
								"output_dataset_uri": {
									"value": "@{pipeline().parameters.output_datastore}/@{concat(pipeline().parameters.output_dir_path, '/predictions_', formatDateTime(utcNow(), 'yyyy_MM_dd_HH_mm' ), '.csv')}",
									"type": "Expression"
								},
								"azureml_resource_id": {
									"value": "subscriptions/@{pipeline().globalParameters.subscription_id}/resourceGroups/@{pipeline().parameters.azureml_workspace_rg}/providers/Microsoft.MachineLearningServices/workspaces/@{pipeline().parameters.azureml_workspace_name}",
									"type": "Expression"
								},
								"batch_endpoint_name": {
									"value": "@pipeline().parameters.batch_endpoint_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"key_vault_name": {
						"type": "string",
						"defaultValue": "kvxwucor002"
					},
					"batch_endpoint_name": {
						"type": "string",
						"defaultValue": "employee-attrition-be-xwucor001"
					},
					"input_datastore": {
						"type": "string",
						"defaultValue": "azureml://datastores/workspaceblobstore/paths"
					},
					"output_datastore": {
						"type": "string",
						"defaultValue": "azureml://datastores/workspaceblobstore/paths"
					},
					"input_file_path": {
						"type": "string",
						"defaultValue": "data/employee-attrition/inference/batch/data.csv"
					},
					"output_dir_path": {
						"type": "string",
						"defaultValue": "outputs/adf"
					},
					"deployment_name": {
						"type": "string",
						"defaultValue": "main"
					},
					"azureml_workspace_name": {
						"type": "string",
						"defaultValue": "mlwxwucor001"
					},
					"azureml_workspace_rg": {
						"type": "string",
						"defaultValue": "azureml-workspace-poc-001-rg"
					}
				},
				"variables": {
					"access_token": {
						"type": "String"
					},
					"tenant_id": {
						"type": "String"
					},
					"client_id": {
						"type": "String"
					},
					"client_secret": {
						"type": "String"
					},
					"job_id": {
						"type": "String",
						"defaultValue": "ff965b7c-f9ec-4794-9d17-45f1c0297eaf"
					},
					"scoring_token": {
						"type": "String"
					},
					"job_status": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Batch scoring with Azure ML and ADF/Custom"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-02T04:13:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Call-AzureML-Batch-Managed-Endpoint')]"
			]
		}
	]
}